<%= simple_form_for([@tipo_factor, @factor], :html => { :multipart => true, :remote => true }) do |f| %>
 <div class="user">
    <div class="modal-header">
      <a href="#" class="close"   onclick="$.lazybox.close()">&times;</a>
      <h4 class="modal-title"><h3>Datos Factores</h3></h4>
    </div><br>
      <div class="row">
        <div class="col-md-4">
          Nombre:
        </div>
        <div class="col-md-6">
          <%= f.input :nombre, :label => false,  :required => true  %>
        </div>
        <div class="col-md-4">
          Areas:
        </div>
        <div class="col-md-6">
          <%= f.collection_select :area_id , Area.all, :id, :nombre, :prompt => "Selecione Area", :label => false,  :required => true  %></br></br>
        </div>
        <div class="col-md-4">
          Descripción:
        </div>
        <div class="col-md-6">
          <%= f.input :descripcion, :label => false,  :required => true %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "guardar", :class => 'btn btn-primary' %>
        <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
      </div>
  </div>
<% end %>
