<div id="example" class="page-header">
    <h3>Datos Factores</h3>
    <div class="navbar">
    <div class="navbar-inner">
    <li id='buscar' class="brand" href="#">Buscar</li>
      <div class="row">
        <div class="span6">
          <form method="GET" class="form-inline" >
            <input id='buscar' name="buscar" class="search-query" type="text" placeholder="Buscar" >
            <button id='buscar' type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
 </div>
  <table class="table table-hover"  >
    <thead>
      <tr>
        <th >id</th>
        <th >NombreFactor</th>
        <th >Areas</th> 
        <th >Descripciones</th>
        <th >Acciones</th>          
      </tr>
    </thead>
    <tbody>
      <%= render @factores %>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <td>
            <%= link_to image_tag('Crud/save.png'),  new_tipo_factor_factor_path,  :remote => true %>
          </td>
          <td><%= link_to image_tag("Crud/tipofactores.png"), tipo_factores_path,  :rel => "tooltip", :title => "Regresar TipoFactores", :class => "btn btn-mini"  %>
          </td>
          <td><%= link_to image_tag("Crud/admin.png"), admin_path,  :rel => "tooltip", :title => "Regresar Administración", :class => "btn btn-mini"  %></td>
          </td>
      </tr>
    </tfoot>
  </table>
  <div id="pagination">
    <ul class="pagination">
      <%= will_paginate @factores, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente&raquo;' %>
    </ul>
</div>