<tr id=<%= "tipo_factor_#{tipo_factor.id}" %>>
	<td><%= tipo_factor.id %></td>
	<td><%= tipo_factor.nombre %></td>
	<td><%= tipo_factor.sigla %></td>
	<td> 
      <%= link_to  image_tag('Crud/mostrar.png'), tipo_factor, :remote => true, :class => 'btn btn-mini' %>
      <%= link_to image_tag('Crud/editar1.png', :title => "Editar Equipos"), edit_tipo_factor_path(tipo_factor), :remote => true,
          :class => 'btn btn-mini'%>
      <%= link_to image_tag('Crud/factores.png'), tipo_factor_factores_path(tipo_factor), :class => 'btn btn-mini', :rel => "tooltip", :title => "Ingresar factores" %>
          
</tr>


