<%= simple_form_for(@centro, :html => { :multipart => true, :remote => true }) do |f| %>
  <div class="user">
    <div class="modal-header">
      <a href="#" class="close"   onclick="$.lazybox.close()">&times;</a>
      <h4 class="modal-title"><h3>Datos Centros</h3></h4>
    </div><br>
    <div class="row">
      <div class="col-md-4">
        Nombre:
      </div>
      <div class="col-md-6">
        <%= f.input :nombre, :label => false,  :required => true  %>
      </div>
      <div class="col-md-4">
        Dirección:
      </div>
      <div class="col-md-6">
        <%= f.input :direccion, :label => false,  :required => true   %>
      </div>
      <div class="col-md-4">
        Codigo:
      </div>
      <div class="col-md-6">
        <%= f.input :codigo, :label => false,  :required => true   %>
      </div>
    </div>
    <div class="modal-footer">
		  <%= f.submit "guardar", :class => 'btn btn-primary' %>
		  <a href="#" class="btn" onclick="$.lazybox.close()">Cerrar</a>
    </div>
  </div>
<% end %>

